{{ define "main" }}

  <article class="cf ph3 ph5-l pv3 pv4-l f4 center measure-wide lh-copy nested-links">
    {{ .Content }}
  </article>

  <section class="pa3 pa4-ns w-100 w-70-ns center">
    
    {{ range .Sections.ByWeight }}
      
    <article class="mb4">
      
        <h2 class="f3">
          <a class="link black dim" href="{{ .RelPermalink }}">
            {{ .LinkTitle }}
          </a>
        </h2>

        {{ with .Description }}
          <p class="mid-gray">{{ . }}</p>
        {{ end }}
      
      </article>
    {{ end }}
  
  </section>

{{ end }}